<li>
  <div class="thumbnail clearfix">
    <%= link_to asset.file.remote_url do %>
      <% if asset.file_type == :image %>
        <%= image_tag asset.file.thumb("170x114#").url, width: 170, height: 114, alt: '' %>
      <% else %>
        <div style="width:170px;height:78px;padding-top:36px;text-align:center;"><%= image_tag file_type_icon(asset), alt: '' %></div>
      <% end %>
    <% end %>
    <p class="name"><strong><%= asset.name %></strong></p>
    <div class="pull-right">
      <%= link_to "Edit", [:edit, asset], class: "btn btn-mini" %>
      <%= link_to "Delete", asset, class: "btn btn-mini btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</li>
