<%= semantic_form_for @asset do |f| %>
  <%= f.inputs do %>
    <%= f.input :name, :label => 'Name (Alernative text)' %>
    <%= f.input :file, :as => :file %>
    <%= f.input :retained_file, :as => :hidden %>
    <% if @asset.file %>
    <div>
      <div><%= link_to "Copy URL", @asset.file.url(host: Rails.configuration.asset_host), class: "btn btn-primary btn-xs copy-to-clipboard", data: { 'clipboard-text' => @asset.file.url(host: Rails.configuration.asset_host) } %></div>
      <% if @asset.file_type == :image %>
        <img src="<%= @asset.file.thumb("300x300").url %>" alt="">
      <% elsif @asset.file_type == :direct_image %>
        <%= image_tag @asset.file.remote_url, width: 300, alt: '' %>
      <% else %>
        <%= image_tag file_type_icon(@asset), alt: '' %>
      <% end %>
    </div>
    <% end %>
  <% end %>
  <%= f.actions :submit %>
<% end %>
