<% content_for :title, "Assets" %>

<div class="well" id="upload_assets">
  <%= semantic_form_for @asset_source, remote: true, multipart: true do |f| %>
    <%= f.inputs do %>
      <a id="choose-files" data-presigned-upload-field-url="<%= presigned_upload_field_asset_source_path(@asset_source) %>" class="btn btn-default" href="javascript:void(0);"><%= icon('cloud-upload') %> Upload files</a>
      <div id="presigned_upload_field" style="display:none;"><%= f.attachment_field :assets_files, multiple: true, direct: true, presigned: true %></div>
      <%= f.action :submit, button_html: { style: 'display:none;' } %>
    <% end %>
  <% end %>
</div>


<%= semantic_form_for 'Asset', as: "assets", url: batch_destroy_assets_path, remote: true do |f| %>
  <%= f.action :submit, label: 'Delete Selected', button_html: { id: "delete_selected_assets", class: 'btn btn-danger', style: "display:none;" } %>

  <%= content_tag :table, id: "assets", class: "table table-striped responsive no-wrap display", data: { source: "#{ assets_url(format: "json") }", order: '[[ 5, "desc" ]]' } do %>
    <thead>
      <tr>
        <%= content_tag :th, check_box_tag("assets_table_select_all"), class: 'column_delete', style: 'width:20px;', data: { orderable: false, searchable: false } %>
        <%= content_tag :th, "", style: 'width:30px;', data: { orderable: false, searchable: false, class_name: 'preview' } %>
        <th>Name</th>
        <th>Size</th>
        <th>Type</th>
        <th>Last Updated</th>
        <%= content_tag :th, "Actions", data: { orderable: false, searchable: false } %>
      </tr>
    </thead>
  <% end %>
<% end %>
