<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#smithy-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= smithy.pages_path %>"><%= image_tag "smithy/logo-sm.png", alt:'' %></a>
    </div>

    <div class="collapse navbar-collapse" id="smithy-nav-collapse">
      <%- if smithy_current_user -%>
      <ul class="nav navbar-nav">
        <li><%= link_to "<i class=\"fa fa-sitemap\"></i> Manage Content".html_safe, pages_path %></li>
        <li><%= link_to "<i class=\"fa fa-file\"></i> Images &amp; Files".html_safe, assets_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "<i class=\"fa fa-arrow-right\"></i> View Site".html_safe, root_path %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-cogs"></i> Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "<i class=\"fa fa-book\"></i> Templates".html_safe, templates_path %></li>
            <li><%= link_to "<i class=\"fa fa-list-alt\"></i> Content Blocks".html_safe, content_blocks_path %></li>
            <% if self.respond_to?(:users_path) %><li><%= link_to users_path do %><i class="fa fa-user"></i> Users<% end %></li><% end %>
            <li><%= link_to "<i class=\"fa fa-cog\"></i> Settings".html_safe, settings_path %></li>
            <li><%= link_to "<i class=\"fa fa-refresh\"></i> Site Cache".html_safe, cache_path %></li>
          </ul>
        </li>
        <% if respond_to?(:logout_path) %>
        <li><%= link_to "<i class=\"fa fa-signout\"></i> Logout".html_safe, logout_path, :method => :delete %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
