<%= render :partial => "layouts/smithy/shared/head" %>
<body>
<%= render :partial => "layouts/smithy/shared/nav" %>
<div class="container-fluid">
  <%- classes = 'row' -%>
  <%- classes += ' with-sidebar' if content_for?(:secondary_nav) -%>
  <%- classes += ' with-related' if content_for?(:related) -%>
  <div id="body" class="<%= classes %>">
    <% if content_for? :secondary_nav %>
      <nav id="side" class="">
        <%= yield :secondary_nav %>
      </nav>
    <% end %>
    <div id="main">
      <% if content_for? :title %><h1><%= yield :title %></h1><% end %>
      <%= render :partial => "layouts/smithy/shared/flash", :locals => { flash: flash } %>
      <%= yield :top_content %>
      <div class="container-fluid">
        <section class="row" id="content-container">

          <article id="content">
            <%= yield %>
          </article>

          <% if content_for? :related %>
            <aside id="related">
              <%= yield :related %>
            </aside>
          <% end %>

        </section>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "layouts/smithy/shared/footer" %>
<%= render :partial => "layouts/smithy/shared/tail" %>
