<%= render :partial => "layouts/smithy/shared/head" %>
<body class="wide">
<%= render :partial => "layouts/smithy/shared/nav" %>

<nav id="side">
  <%= yield :secondary_nav %>
</nav>
<div id="main">
  <% if content_for? :title %><h1><%= yield :title %></h1><% end %>
  <%= render :partial => "layouts/smithy/shared/flash", :locals => { flash: flash } %>
  <%= yield :top_content %>
  <div class="container-fluid">
    <section class="row-fluid" id="content-container">
      <article id="content" class="span12">
        <%= yield %>

        <aside id="related">
          <%= yield :related %>
        </aside>
      </article>
    </section>
  </div>
</div>
<%= render :partial => "layouts/smithy/shared/tail" %>
