<div class="well form-horizontal nested">
  <%= f.inputs "Template", :class => "inputs content_block_template_fields" do %>
    <%= f.input :id, :as => :hidden %>
    <%= f.input :name %>
    <%= f.input :content, :input_html => { :rows => 10 } %>
    <% unless f.object.new_record? %>
      <%= f.input :_destroy, :label => "Delete", :as => :boolean, :wrapper_html => {:class => "destroy inline"} %>
    <% end %>
  <% end %>
</div>
