<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><%= project_title %> CMS</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Full Sitemap" %></li>
          <li><%= link_to "Templates", templates_path %></li>
          <li><%= link_to "Content Blocks" %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="pull-right"><%= link_to "Settings", settings_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
