<%= render :partial => "layouts/tagcms/shared/head" %>
<body>
<%= render :partial => "layouts/tagcms/shared/nav" %>
<div class="container-fluid">
  <%= render :partial => "layouts/tagcms/shared/flash", :locals => { flash: flash } %>

  <section class="row" id="main-container">

    <nav id="secondary-nav" class="span3">
      <%= yield :secondary_nav %>
    </nav>

    <article id="main" class="span7">
      <%= yield %>
    </article>

    <aside id="related" class="span2">
      <%= yield :related %>
    </aside>

  </section>
</div>
<%= render :partial => "layouts/tagcms/shared/tail" %>
