<%= render :partial => "layouts/tagcms/shared/head" %>
<body>
<%= render :partial => "layouts/tagcms/shared/nav" %>

<nav id="side">
  <%= yield :secondary_nav %>
</nav>
<div id="main">
  <div class="container-fluid">
    <%= render :partial => "layouts/tagcms/shared/flash", :locals => { flash: flash } %>

    <% if content_for? :title %><h1><%= yield :title %></h1><% end %>
    <%= yield :top_content %>
    <section class="row-fluid" id="content-container">

      <article id="content" class="span9">
        <%= yield %>
      </article>

      <aside id="related" class="span3">
        <%= yield :related %>
      </aside>

    </section>
  </div>
</div>
<%= render :partial => "layouts/tagcms/shared/tail" %>
