<%= f.inputs do %>
  <%= f.input :content, :as => :text, :input_html => { :class => "col-md-12", :id => "template_content-#{f.object.id || 'new'}" }, :hint => "Use markdown syntax for formatting. You can also use HTML directly. <a href=\"#{guide_path('markdown')}\" data-toggle=\"remote-load\" data-target=\"#content-guide\">See our markdown syntax reference</a>".html_safe %>
  <div id="template_content_editor-<%= f.object.id || 'new' %>" class="template_content_editor"></div>
  <div id="content-guide"></div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var editor = ace_edit('<%= f.object.id || 'new' %>', 'markdown');
    editor.renderer.setShowGutter(false);
  <% end %>
<% end %>
