<% content_for :browser_title, "#{@template.name} | Templates" %>
<% content_for :title, "Templates" %>

<%= render :partial => "secondary_nav" %>

<%= semantic_form_for @template do |f| %>
  <%= f.inputs do %>
    <%= f.input :content, :label => "Template Content", input_html: { id: "template_content-#{@template.id}" } %>
    <div id="template_content_editor-<%= @template.id %>" class="template_content_editor"></div>
  <% end %>
  <%= f.actions do %>
    <%= f.text_field :name %>
    <%= f.action :submit, :label => "Save this #{@template.template_type.capitalize}" %>
  <% end %>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    ace_edit(<%= @template.id %>, '<%= @template_editor_type %>');
  <% end %>
<% end %>

<% content_for :related do %>
  <% unless @template.pages.empty? %>
    <div class="well well-small">
      Pages using this template:
      <ul>
        <% @template.pages.each do |page| %>
        <li><%= link_to page.title, edit_page_path(page.id) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= link_to "Delete #{@template.template_type.capitalize}", @template, method: :delete, data: { confirm: "Are you sure you want to delete this #{@template.template_type}?" }, class: 'btn btn-danger' %></p>
<% end %>
