<div class="well">
<%= f.inputs container.display_name do %>
  <table class="table table-striped page-contents" data-reorder-href="<%= order_page_contents_path(@page.id) %>">
  <% @page.contents.for_container(container.name).each do |page_content| %>
    <%= content_tag_for :tr, page_content do %>
      <td>
        <i class="icon-reorder handle"></i>
        <%= link_to "edit", edit_page_content_path(@page.id, page_content), :class => "btn btn-small btn-primary" %>
      </td>
      <td><strong><%= page_content.label %></strong></td>
      <td><%= page_content.content_block_type.demodulize %></td>
      <td><%= page_content.updated_at.strftime('%b %e, %Y %H:%M:%S') %></td>
      <td>
        <div class="pull-right">
          <%= link_to "preview", preview_page_content_path(@page.id, page_content), :class => "btn btn-small", "data-previewtoggle" => "modal" %>
          <%= link_to "<i class=\"icon-trash\"></i> delete".html_safe, page_content_path(@page.id, page_content), :method => :delete, :confirm => "Do you really want to delete this content?", :class => "btn btn-small btn-danger" %>
        </div>
      </td>
    <% end %>
  <% end %>
  </table>
  <div><%= link_to "Add to #{container.display_name}", new_page_content_path(@page.id, :page_content => { :container => container.name }), :class => "btn btn-primary btn-small" %></div>
<% end %>
</div>
