<div class="pageContent">
<%= f.semantic_fields_for :contents, page_content do |f| %>
  <div class="pageContent-heading">
    <a href="javascript:void(0)" data-toggle="collapse">
      <%= page_content.content_block_type.demodulize %>
      <%= page_content.updated_at.strftime('%b %e, %Y %H:%M:%S') %>
    </a>
  </div>
  <div class="pageContent-fields collapse" role="tabpanel">
    <div>
      <%= f.inputs do %>
        <%= f.input :label, :hint => "Internal CMS usage only" %>
        <%= f.input :container, :as => :hidden %>
        <%= f.input :content_block_type, :as => :hidden %>
      <% end %>
      <div class="well">
        <%= f.input :content_block_template, :collection => page_content.templates, :include_blank => false %>
        <%= f.semantic_fields_for(:content_block) do |builder| %>
          <%= render :partial => "#{page_content.content_block_type.underscore.pluralize}/form_fields", :locals => { :f => builder } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>