<%= content_for :title do %>
  Insert Link
<% end %>
<form class="formtastic">
  <div class="form-group">
    <%= label_tag :label, nil, class: "control-label" %>
    <%= text_field_tag :label, nil, class: "form-control" %>
  </div>
  <fieldset>
    <div class="form-group">
      <%= label_tag :type, "Link To", class: "control-label" %>
      <%= select_tag :type, options_for_select([["Page", "page"], ["External URL", "url"]]), class: "form-control" %>
    </div>
    <div class="form-group hidden">
      <%= label_tag :page, nil, class: "control-label" %>
      <%= select_tag :page, options_for_select(Smithy::Page.page_selector_options), class: "form-control" %>
    </div>
    <div class="form-group hidden">
      <%= label_tag :url, nil, class: "control-label" %>
      <%= text_field_tag :url, nil, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= label_tag :open_in_new_tab, nil, class: "control-label" do %>
        <%= check_box_tag :open_in_new_tab %>
        Open link in new tab
      <% end %>
    </div>
  </fieldset>
</form>
<%= content_for :footer do %>
  <button class='btn btn-primary select'>Select</button>
<% end %>

