<% content_for :title, "Page Content" %>

<%= semantic_form_for [@page, @page_content], :url => page_contents_path(@page.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.inputs "Adding to #{@page_content.container.titleize} on &ldquo;#{@page.title}&rdquo;" do %>
    <%= f.input :label, :hint => "Please enter a label for your content (internal CMS usage only)" %>
    <%= f.input :container, :as => :hidden %>
    <%= f.input :content_block_type, :as => :hidden %>
  <% end %>

  <%= f.inputs "Choose a Content Block" do %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
    <% @content_blocks.each do |content_block| %>
      <tr>
        <td style="white-space:nowrap"><button class="btn btn-small page_content_block" type="button" data-content_block="<%= content_block.name %>"><%= content_block.name.titleize %></button></td>
        <td><%= content_block.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
<% end %>
